<% data.sections.each do |sectionKey, section| %>
### <%= section.name %> section
<% sectionLine=[] %>
<% sectionLine << "Product Director: [#{section.pm}]" if section.pm %>
<% sectionLine << "Engineering Director" + (section.em.respond_to?(:map) ? 's' : '') + ": " + (section.em.respond_to?(:map) ? section.em.map { |em| "[#{em}]" }.join(', ') : "[#{section.em}]") if section.em %>
<% sectionLine << "UX Manager: [#{section.uxm}]" if section.uxm %>
<% sectionLine << "Support Manager: [#{section.sm}]" if section.sm %>
<% sectionLine << "Product Marketing Manager: [#{section.pmm}]" if section.pmm %>
<% sectionLine << "Quality: [#{section.qm}]" if section.qm %>
<% sectionLine << "Content Marketing: [#{section.cm}]" if section.cm %>
<% sectionLine << "Technical Writing: [#{section.tw}]" if section.tw %>
<% sectionLine << "Infrastructure Manager: [#{section.rem}]" if section.rem %>
<%= "#{sectionLine.join(' \\| ')}" if sectionLine %>
  <% data.stages.stages.select{|stageKey,stage| stage.section==sectionKey}.each do |stageKey, stage| %>
    <% stageLine=[] %>
    <% stageLine << "Slack Channel: [#{stage.slack.channel}](https://gitlab.slack.com/app_redirect?channel=#{stage.slack.channel})" if stage&.slack&.channel %>
    <% stageLine << "Slack Alias: @#{stage.slack.alias}" if stage&.slack&.alias %>
    <% stageLine << "GitLab Group: @#{stage.gitlab_group}" if stage&.gitlab_group %>
    <% stageLine << "[Handbook](/handbook/#{stage.handbook})" if stage&.handbook %>
    <% stageLine << "Group Product Manager: [#{stage.pm}]" if stage.pm %>
    <% stageLine << "Product Marketing Manager: [#{stage.pmm}]" if stage.pmm %>
    <% stageLine << "Backend Engineering Manager: [#{stage.backend_engineering_manager}]" if stage.backend_engineering_manager %>
    <% stageLine << "Frontend Engineering Manager: [#{stage.frontend_engineering_manager}]" if stage.frontend_engineering_manager %>
    <% stageLine << "Software Engineer".pluralize(group.sets.count) + " in Test: " + stage.sets.map{ |test_er| "[#{test_er}]" }.join(", ") if stage.sets %>
    <% stageLine << "UX Manager: [#{stage.uxm}]" if stage.uxm %>
    <% stageLine << "UX Researcher: [#{stage.uxr}]" if stage.uxr %>
    <% stageLine << "Product Designer".pluralize(stage.ux.count) + ": " + stage.ux.map{ |ux_er| "[#{ux_er}]" }.join(", ") if stage.ux %>
    <% stageLine << "Content Marketing: [#{stage.cm}]" if stage.cm %>
    <% stageLine << "Technical Writer: [#{stage.tech_writer}]" if stage.tech_writer %>
    <% stageLine << "Internal Customer".pluralize(stage.internal_customers.count) + ": " + stage.internal_customers.map{ |customer| "[#{customer.department}] ([#{customer.dri}])" }.join(", ") if stage.internal_customers %>
<%= "#### #{stage.display_name} stage" %>
<%= "#{stageLine.join(' \\| ')}" if stageLine %>
    <% if stage.groups %>
      <% stage.groups.each do |groupKey, group| %>
        <% groupLine=[] %>
        <% groupLine << "Slack Channel: [#{group.slack.channel}](https://gitlab.slack.com/app_redirect?channel=#{group.slack.channel})" if group&.slack&.channel %>
        <% groupLine << "Slack Alias: @#{group.slack.alias}" if group&.slack&.alias %>
        <% groupLine << "GitLab Group: @#{group.gitlab_group}" if group&.gitlab_group %>
        <% groupLine << "[Handbook](/handbook/#{group.handbook})" if group&.handbook %>
        <% groupLine << "Product Management: #{ team_list_from_group(group: group.pm_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.pm_team_tag %>
        <% groupLine << "Product Manager: [#{group.pm}]" if group.pm %>
        <% groupLine << "Product Marketing Manager: [#{group.pmm}]" if group.pmm %>
        <% groupLine << "Engineering Manager: [#{group.em}]" if group.em %>
        <% groupLine << "Support: [#{group.support}]" if group.support %>
        <% groupLine << "Backend Engineering Manager: [#{group.backend_engineering_manager}]" if group.backend_engineering_manager %>
        <% groupLine << "Frontend Engineering Manager: [#{group.frontend_engineering_manager}]" if group.frontend_engineering_manager %>
        <% groupLine << "Software Engineer".pluralize(group.sets.count) + " in Test: " + group.sets.map{ |test_er| "[#{test_er}]" }.join(", ") if group.sets %>
        <% groupLine << "Backend Engineering: #{ team_list_from_group(group: group.be_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.be_team_tag %>
        <% groupLine << "Frontend Engineering: #{ team_list_from_group(group: group.fe_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.fe_team_tag %>
        <% groupLine << "Fullstack Engineering: #{ team_list_from_group(group: group.fs_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.fs_team_tag %>
        <% groupLine << "UX Manager: [#{group.uxm}]" if group.uxm %>
        <% groupLine << "UX Researcher: [#{group.uxr}]" if group.uxr %>
        <% groupLine << "UX Research: #{ team_list_from_group(group: group.uxr_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.uxr_team_tag %>
        <% groupLine << "Product Designer".pluralize(group.ux.count) + ": " + group.ux.map{ |ux_er| "[#{ux_er}]" }.join(", ") if group.ux %>
        <% groupLine << "Product Design: #{ team_list_from_group(group: group.ux_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.ux_team_tag %>
        <% groupLine << "Content Marketing: [#{group.cm}]" if group.cm %>
        <% groupLine << "Technical Writer: [#{group.tech_writer}]" if group.tech_writer %>
        <% groupLine << "Technical Writing: #{ team_list_from_group(group: group.tw_team_tag).map{ |member| "[#{member.name}](/company/team/##{member.gitlab})" }.join(", ") }" if group.tw_team_tag %>
        <% groupLine << "Application Security Engineer: [#{group.appsec_engineer}]" if group.appsec_engineer %>
        <% groupLine << "Internal Customer".pluralize(group.internal_customers.count) + ": " + group.internal_customers.map{ |customer| "[#{customer.department}] ([#{customer.dri}])" }.join(", ") if group.internal_customers %>
        <% groupLine << "Infrastructure Manager: [#{section.rem}]" if section.rem %>

<%= "##### #{group.name} group" %>
<%= "#{groupLine.join(' \\| ')}" if groupLine %>
        <% if group.categories %>
          <% group.categories.each do |categoryKey| %>
            <% category = data.categories[categoryKey] %>
            <% puts categoryKey unless category%>
            <% name = if category.marketing then category.name else "*#{category.name}*" end %>
            <% kbdElement = "" %>
            <% if category.maturity && (category.maturity != "planned") %>
              <% kbdElement = " <kbd>#{category.maturity.capitalize}</kbd>" %>
            <% end %>
            <% if category.available && (category.available.year == Date.today.year) %>
              <% kbdElement = (category.available <= Date.today) ? " <kbd>New in #{Date.today.year}</kbd> " : " <kbd>Planned #{Date.today.year}</kbd> " %>
            <% end %>
            <% if category.available && (category.available.year > Date.today.year) %>
              <% kbdElement = " <kbd>Planned #{category.available.year}</kbd> " %>
            <% end %>
            <% categoryLinks = [] %>
            <% categoryLinks << "[Marketing Page](#{category.marketing_page})" if category.marketing_page %>
            <% categoryLinks << "[Documentation](#{category.documentation})" if category.documentation %>
            <% categoryLinks << "[Direction Page](#{category.direction})" if category.direction %>
            <% links = categoryLinks.empty? ? '' : (' \\| ' + categoryLinks.join(' • ')) %>
<%= "  * #{name}#{kbdElement ? kbdElement : ''}#{links}" %>
          <% end %>

        <% end %>
      <% end %>

    <% end %>
  <% end %>

<% end %>
