---
title: GitLab Analyst Report
description: Download this analyst report on GitLab
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
  - analyst-report.css
---

<div class="webcast-header">
  <div class="webcast-info">
    <h1><%= report.title %></h1>
    <p><%= report.subtitle %></p>
    <% if report.resource_link %>
      <a href="<%= report.resource_link %>" class="btn cta-btn orange margin-top20">Download the report</a>
    <% end %>
  </div>
</div>

<div class="gitlab-content-container">
  <div class="analyst-content-container">
    <div class="webcast-content">
      <div class="webcast-content-section">
        <%= partial report.include_file %>
      </div>
    </div>
  </div>
</div>
